@use '@angular/material' as mat;
@use './app/theme/m3-theme.scss' as theme;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.75rem;
    color: mat.get-theme-color(theme.$light-theme, primary, 60);
    margin: 0px;
  }

  form {
    .search-bar {
      background-color: mat.get-theme-color(theme.$light-theme, neutral, 95);

      mat-icon {
        color: mat.get-theme-color(theme.$light-theme, neutral, 60);
      }
    }
  }
}

.loading-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50dvh;
}